
:root {
    --button-size: 1em;
}

/* apply a natural box layout model to all elements, but allowing components to change */
*, *:before, *:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    color: rgba(26, 26, 26, 0.8);
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.header {
    align-items: center;
    background-color: rgb(255 255 255 / 1);
    display: flex;
    font-size: 16px;
    justify-content: space-between;   
}

.banner {
    background-size:cover;
    height: 300px;
}

.home-banner {
    background-image: url("../images/banner-header.jpg");
}

.banner-peacebuilding {
    background-image: url("../images/banner-cotedivoire2.jpg");
}

.banner-prf {
    background-image: url("../images/banner-election.jpg");
}

.banner-resume {
    background-image: url("../images/banner-cotedivoire.jpg");
}

.banner-journalism {
    background-image: url("../images/banner-rwanda.png");
}

.home-link {
    margin-left: 20px;
}

.logo-link img {
    max-width: 200px;
    padding: 0.5em;
}

.nav-bar {
    align-items: center;
    display: flex;
    height: 30px;
    justify-content: flex-end;
    padding-right: 4em;
}

.port-nav-menu {
    display: flex   ;
    align-items: start;
}

.nav-bar li, .port-nav-menu li {
    cursor: pointer;  
    font-weight: 400;
    list-style: none;
    padding: 5px 15px 5px 15px;
    position: relative;   
    white-space: nowrap;
    display: flex;
    align-items: center;
}

.port-nav-menu li {
    padding: 5px 10px 5px 0; 
}

.nav-bar li a, .nav-bar ul.sub-menu li a  {
    color: rgba(26, 26, 26, 0.8); 
    text-decoration: none;
    text-transform: uppercase;
}

.nav-bar li.active a, ul.sub-menu li.active-child a,
.nav-bar li:hover a, ul.sub-menu li:hover a {
    color: rgba(26, 26, 26, 1); 
}   

.nav-bar .show {
    display: block;  
}

.nav-bar li.has-submenu {
    column-gap: 10px;
}

.nav-bar li.has-submenu:after {
    content: '';
    border: solid #c4c3c0;
    border-width: 0 2px 2px 0;
    width: 7px;
    height: 7px;
    margin-top: 0.5em;
    pointer-events: none;
    transition: transform 0.1s ease-in-out;
    transform: translateY(-50%) rotate(45deg);
}

.nav-bar li.has-submenu.is-open:after {
    transform: translateY(-50%) rotate(225deg);
}


.sub-menu {
    border: solid 1px rgb(227, 224, 224);
    background-color: rgb(255, 255, 255);;
    box-shadow: 0 2px 2px rgba(0,0,0,0.1);
    display: none;
    font-size: 12px;
    left: 0;
    padding: 0;
    position: absolute;
    margin: 0;
    top: 100%;
}

.sub-menu li {
    border-right: none;
    padding: 5px 15px 5px 15px;
    width: 100%;
    white-space: nowrap;
}

.home-page {
    display: flex;
    padding: 1em 5% 1em 5%;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: center;
}

.main-copy {
    font-size: 1em;
    margin-left: 2em; 
    text-align: justify;
    flex: 1;
}
.main-copy h2 {
    font-size: 18px;
    margin-top: 3em;
}

.profile-picture {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    margin: 2em 0 2em 2em;
}

.profile-picture img {
    border-radius: 50%;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    max-width: 250px; 
    height: auto;
}

.footer {
    align-items: center;
    height: 50px;
    border-top:solid 1px rgba(67, 64, 64, 0.2);
    display: flex;    
    font-size: 16px;
    margin-top: 20px;
    padding: 20px; 
    width: 100%;
    margin-top: auto;
}

.footer a {
    color: rgba(26, 26, 26, 1);
    font-weight: 700;
    font-size: 10px;
    margin-right: 10px;
    text-decoration: none;
}

.icons-link {
    font-size: 10px;
}


.portfolio-page {
    display: flex;
    padding: 1em 5% 1em 5%;    
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: center;
}


.port-nav-menu {
    /* font-size: 1em; */
    margin-top: 3em;
    text-align:left;
}

.port-nav-menu ul {
    padding-left: 0;
    padding-right: 2em;
}

.port-nav-menu li {
    font-size: 14px;
}

.port-nav-menu li:first-child {
    padding-bottom: 1em;
}

.port-nav-menu li:first-child:before {
    border: 0   ;
}

.port-nav-menu li:before {
    content: '';
    border: solid #e6e4e0;
    border-width: 0 2px 2px 0;
    width: 7px;
    height: 7px;
    margin-right: 0.5em;
    margin-top: 0.5em;
    pointer-events: none;
    transition: transform 0.1s ease-in-out;
    transform: translateY(-50%) rotate(315deg); 
}

.port-nav-menu li a {
    color: rgb(26, 26, 26, 0.8); 
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
}

.port-nav-menu li:hover a, .port-nav-menu li.active a {
    color: rgb(26, 26, 26, 1);
}


.articles {
    display: flex;
    text-align: justify;
    flex: 2;
    flex-direction: column;
}

.articles section {
    padding: 1em 0;
}

.articles ul {
    list-style: none;
    padding-left: 0;
}

.articles li {
    padding-bottom: 2em;
}

.articles li:last-child {
    padding-bottom: 0;
}

.articles li p {
    margin: 5px 0;
}

.articles a {
    color: rgba(77, 105, 137, 1);
    text-decoration: none;
    font-weight: 400;
}

.articles a:visited {
    color: rgba(77, 105, 137, 0.8);
}

.italic {
    font-style: italic;
}

/*Medium (641px to 1007px)*/
/* @media screen and (max-width: 1007px) {
    .main-copy {
        flex-direction: column;
    }
} */

/*Smalll Devices < 640px*/
@media screen and (max-width: 640px) {

    .nav-panel {
        display: none;
        background-color: rgba(255 255 255 / 1);
        padding: 10px;
    }

    .home-page {
        flex-direction: column;
    }

    .profile-picture img {
        max-width: 100%;
    }

    .lines-button {
        display: inline-block;
        padding: calc(var(--button-size)/2) calc(var(--button-size)/4);
        transition: .3s;
        cursor: pointer;
        user-select: none;
        background: white;
        border-radius: calc(var(--button-size)/7);
        z-index: 1;
    }
    
    .lines-button:hover {
        opacity: 1;
    } 
        
    .lines {
        display: inline-block;
        width: var(--button-size);
        height: calc(var(--button-size)/7);
        background-color: rgba(0,0,0,1);
        border-radius: calc(var(--button-size)/14); 
        transition: .3s;
        position: relative; 
        margin: 0.5em;
    }
    
    /*create the upper and lower lines as pseudo-elements of the middle line*/
    .lines:before, .lines:after {
        display: inline-block;
        width: var(--button-size);
        height: calc(var(--button-size)/7);
        background: rgba(0,0,0,1);
        border-radius: calc(var(--button-size)/14); 
        transition: 0.3s;
        position: absolute;
        left:0;
        content: '';
        transform-origin: calc(var(--button-size)/14) center;
    }
    .lines:before { top: calc(-1 * var(--button-size)/4); }
    .lines:after { top: calc(var(--button-size)/4); }

    .lines-button.nav-open {
        position: relative;
        right: 200px;
    }

    .lines-button.nav-open .lines {
        background: transparent;
    }
      
    .lines-button.nav-open .lines:before, .lines-button.nav-open .lines:after {
        transform-origin: 50% 50%;
        top:0;
        width: var(--button-size);
     }

     .lines-button.nav-open .lines:before {
        transform: rotate3d(0,0,1,45deg); 
    }

    .lines-button.nav-open .lines:after {
        transform: rotate3d(0,0,1,-45deg); 
    }

    .main-copy {
        margin-left: 0; 
    }

    .main-copy h1 {
        font-size: 1.5em;
    }

    .profile-picture {
        margin: 1em;
    }

    .nav-panel.open {
        display: flex;
        align-items: flex-start;
        justify-content: left;
        top: 0;
        bottom: 0;
        right: 0;
        width: 200px;
        position: fixed; 
        background-color: white;
        padding-top: 1em;
        z-index: 1;
    }

    .line {
        width: 25px;
        height: 3px;
        background-color: #333;
        margin: 3px;
    }

    .open .sub-menu {
        border: 0;
        box-shadow: none;
        padding-left: 1em;
    }

    .nav-bar {
        display: none;
        height: auto;
        list-style: none;
        padding: 0;
    }
    
    .nav-panel.open .nav-bar {
        display: block;
    }

    .nav-bar li {
        float: none;
    }

    .portfolio-page {
        flex-direction: column;
        padding-left: 0;
        padding-right: 0;
    }

    .port-nav-menu {
        margin: 0;
    }    

    .port-nav-menu ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding-right: 0;
        width: 100%;
        border-bottom: solid 1px rgb(226, 223, 223);
        padding-bottom: 1em;
        margin-top: 0;
    }

    .port-nav-menu ul li{
        padding-left: 5px; 
        padding-right: 5px;
    }
    .port-nav-menu ul li:first-child{
        display: none;
    }

    .port-nav-menu li:before {
        content: none;
    }   
    
    .articles {
        padding-right: 5%;
        padding-left: 5%;
    }

    .articles h1 {
        font-size: 1.5em;
    }
}